@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  background-color: #ffffff;
  color: #535456;
}

* {font-family: 'Oswald', sans-serif;}

.rank-list-container {
        background-color: white !important;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
      }